@font-face {
  font-family: Fortnite;
  /* src: url(../src/assets/fortnite.otf); */
  src: url(../src/assets/Burbank\ Big\ Regular\ Medium.ttf);
}

:root {
  font-family: Fortnite, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #f96c07;
  --secondary-color: #163a9b;
  --third-color: #1f50d6;
}

html {
  scrollbar-gutter: stable both-edges;
}
body {
  width: 100%;
  /* width: calc(100vw - 34px); */
  margin: 0;
  background-color: var(--secondary-color);
}
#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  height: 40px;

  gap: 10px;
}
nav > button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
h1 {
  margin: 0;
}
#homePage,
#menuPage,
#contactPage {
  width: 800px;
  margin: 0 auto;
  background-color: var(--third-color);
  color: white;
  font-size: 30px;
  padding: 10px;
}
#homePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}
#homePage > h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
#homePage > #mascot {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#homePage > #homeDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 26px;
}
#homePage > #hoursHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#homePage > #location {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#homePage > #map {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#homePage > #hours > p {
  margin: 0;
}
#menuPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-card {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: 40px auto 40px;
  width: auto;
  border: red 1px solid;
  grid-gap: 10px;
  padding: 10px;
  margin-block: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.menu-card > h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 5px 0 0 20px;
}
.menu-card > img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 250px;
  border: 10px solid transparent;
  border-image: url(../src/assets/border.png) 20% round;
  margin: 10px;
}
.menu-card > p {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.menu-card > price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
}
#contactPage {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: auto auto auto;
}
#contactPage > .header {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#contactPage > #male {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
}
#contactPage > #invite {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#contactPage > #female {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}
#contactPage > #details {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#contactPage > #details > li > a {
  margin: 0;
  /* list-style-type: none; */
  color: white;
}
#contactPage > #details {
  list-style-type: none;
  padding: 0;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px;
  font-size: 20px;
}
